In [1]:
import pandas as pd
import scipy.stats as st
import pingouin as pg
from statsmodels.formula.api import ols
from sklearn import linear_model, model_selection
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
import math

C:\Python310\lib\site-packages\outdated\utils.py:14: OutdatedPackageWarning: The package outdated is out of date. Your version is 0.2.1, the latest is 0.2.2.
Set the environment variable OUTDATED_IGNORE=1 to disable these warnings.
  return warn(
C:\Python310\lib\site-packages\outdated\utils.py:14: OutdatedPackageWarning: The package pingouin is out of date. Your version is 0.5.2, the latest is 0.5.3.
Set the environment variable OUTDATED_IGNORE=1 to disable these warnings.
  return warn(

In [3]:
# code
cars = pd.read_csv("../../data/carvana.csv")
cars

                            Name   Year  Miles  Price
0                 Chevrolet Trax   2018  41946  16990
1                    GMC Terrain   2020  45328  23990
2                  Jeep Wrangler   2012  81068  21590
3                  Jeep Renegade   2019  35372  21590
4                          BMW X  20173  68992  22990
...                          ...    ...    ...    ...
21995               Honda Accord   2014  98085  17590
21996              Dodge Charger   2016  62616  23990
21997                Ford Taurus   2013  50345  16990
21998   Toyota Corolla Hatchback   2020  27945  23990
21999                Honda Civic   2012  70676  14990

[22000 rows x 4 columns]

Blah blah

# Markdown

In [4]:
# code
X_cars = cars[['Year', 'Miles']].values
X_cars

array([[ 2018, 41946],
       [ 2020, 45328],
       [ 2012, 81068],
       ...,
       [ 2013, 50345],
       [ 2020, 27945],
       [ 2012, 70676]], dtype=int64)

In [5]:
y_cars = cars['Price'].values
y_cars

array([16990, 23990, 21590, ..., 16990, 23990, 14990], dtype=int64)

In [12]:
model = linear_model.LinearRegression()
model.fit(X_cars, y_cars)
print(model.intercept_, model.coef_, model.score(X_cars, y_cars))

27124.308877180774 [ 0.00051293 -0.11969491] 0.24115272742922578

In [13]:
#add constant to predictor variables
x = sm.add_constant(X_cars)

#fit linear regression model
model = sm.OLS(y_cars, X_cars).fit()

#view model summary
print(model.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                      y   R-squared (uncentered):                   0.649
Model:                            OLS   Adj. R-squared (uncentered):              0.649
Method:                 Least Squares   F-statistic:                          2.033e+04
Date:                Tue, 25 Jul 2023   Prob (F-statistic):                        0.00
Time:                        18:21:39   Log-Likelihood:                     -2.3939e+05
No. Observations:               22000   AIC:                                  4.788e+05
Df Residuals:                   21998   BIC:                                  4.788e+05
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1             0.0011   5.31e-05     19.926      0.000       0.001       0.001
x2             0.2864      0.001    197.840      0.000       0.284       0.289
==============================================================================
Omnibus:                     3573.404   Durbin-Watson:                   1.215
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             9665.839
Skew:                           0.885   Prob(JB):                         0.00
Kurtosis:                       5.722   Cond. No.                         27.4
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.