In [4]:
import scipy.stats as st
import math
import numpy as np
import pandas as pd

In [5]:
carrier_data = {
    "Value": ['Average', 'Variance', 'Boxes'],
    "FedEx": [8, 26.8114, 8],
    "UPS": [14.475, 37.7879, 8],
    "DHL": [9, 13.1171, 8]
}

carrier_df = pd.DataFrame(carrier_data)
carrier_df.set_index('Value', inplace=True)
carrier_df

            FedEx      UPS      DHL
Value
Average    8.0000  14.4750   9.0000
Variance  26.8114  37.7879  13.1171
Boxes      8.0000   8.0000   8.0000

In [6]:
y_bar = carrier_df.loc['Average'].mean()

ssb = np.sum( carrier_df.loc['Boxes'] * ( ( carrier_df.loc['Average'] - y_bar ) ** 2 ) )
ssw = np.sum( (carrier_df.loc['Boxes'] - 1) * carrier_df.loc['Variance'] )
sst = ssb + ssw

In [7]:
print(f"SSB: {ssb}\nSSW: {ssw}\nSST: {sst}")

SSB: 194.4033333333333
SSW: 544.0148
SST: 738.4181333333333

In [12]:
df_1 = len(carrier_df.columns) - 1
df_t = (len(carrier_df.columns) * carrier_df.loc['Boxes'].max()) - 1
df_2 = df_t - df_1

print(f"df1: {df_1}\ndf2: {df_2}\ndfT: {df_t}")
# df_t

df1: 2
df2: 21.0
dfT: 23.0

In [13]:
msb = ssb / df_1
msw = ssw / df_2

print(f"MSB: {msb}\nMSW: {msw}")

MSB: 97.20166666666665
MSW: 25.90546666666667

In [14]:
f = msb / msw

print(f"F-stat: {f}")

F-stat: 3.7521681395432616

In [15]:
alpha = 0.05

critical_val = st.f.ppf(1 - alpha, df_1, df_2)
print(f"Critical value: {critical_val}")

Critical value: 3.4668001115424154

In [16]:
# Bonferroni => controlling experimentwise error

bonf_d = {
    "FedEx": [1, 0, 0],
    "UPS": [0, 1, 0],
    "DHL": [0, 0, 1]
}

bonf_carr = pd.DataFrame(bonf_d)
bonf_carr

   FedEx  UPS  DHL
0      1    0    0
1      0    1    0
2      0    0    1