In [11]:
import scipy.stats as st
import math
import numpy as np
import pandas as pd

In [15]:
carrier_data = {
    "Value": ['Average', 'Variance', 'Boxes'],
    "FedEx": [8, 26.8114, 8],
    "UPS": [14.475, 37.7879, 8],
    "DHL": [9, 13.1171, 8]
}

carrier_df = pd.DataFrame(carrier_data)
carrier_df.set_index('Value', inplace=True)
carrier_df

            FedEx      UPS      DHL
Value
Average    8.0000  14.4750   9.0000
Variance  26.8114  37.7879  13.1171
Boxes      8.0000   8.0000   8.0000

In [31]:
y_bar = carrier_df.loc['Average'].mean()

ssb = np.sum( carrier_df.loc['Boxes'] * ( ( carrier_df.loc['Average'] - y_bar ) ** 2 ) )
ssw = np.sum( (carrier_df.loc['Boxes'] - 1) * carrier_df.loc['Variance'] )
sst = ssb + ssw

In [33]:
print(f"SSB: {ssb}\nSSW: {ssw}\nSST: {sst}")

SSB: 194.4033333333333
SSW: 544.0148
SST: 738.4181333333333

In [43]:
df_1 = len(carrier_df.columns) - 1
df_t = len(carrier_df.columns) * carrier_df.loc['Boxes'].max()
df_2 = df_t - df_1

print(f"df1: {df_1}\ndf2: {df_2}\ndfT: {df_t}")
# df_t

df1: 2
df2: 22.0
dfT: 24.0

In [44]:
msb = ssb / df_1
msw = ssw / df_2

print(f"MSB: {msb}\nMSW: {msw}")

MSB: 97.20166666666665
MSW: 24.727945454545456

In [45]:
f = msb / msw

print(f"F-stat: {f}")

F-stat: 3.930842812854846

In [46]:
alpha = 0.05

critical_val = st.f.ppf(1 - alpha, df_1, df_2)
print(f"Critical value: {critical_val}")

Critical value: 3.4433567793667237