In [22]:
import math
import pandas as pd
import scipy.stats as st
import pingouin as pg
from statsmodels.formula.api import ols
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns

In [24]:
ex_151_dict = {
    "insecticide": [1, 2, 3],
    "plot1": [56, 83, 80],
    "plot2": [48, 78, 72],
    "plot3": [66, 94, 83],
    "plot4": [62, 93, 85]
}

ins_df = pd.DataFrame(ex_151_dict)
ins_df.set_index('insecticide', inplace=True)
ins_df

             plot1  plot2  plot3  plot4
insecticide
1               56     48     66     62
2               83     78     94     93
3               80     72     83     85

In [25]:
plot_means = ins_df.mean()
plot_means

plot1    73.0
plot2    66.0
plot3    81.0
plot4    80.0
dtype: float64

In [26]:
ins_means = ins_df.mean(axis=1)
ins_means

insecticide
1    58.0
2    87.0
3    80.0
dtype: float64

In [27]:
ins_mean = ins_means.mean()
ins_mean

75.0

In [28]:
plot_mean = plot_means.mean()
plot_mean

75.0

In [29]:
total_mean = ins_mean.mean()
total_mean

75.0

In [30]:
# blocks = total number of plots
blocks = len(plot_means)
blocks

4

In [31]:
treatments = len(ins_means)
treatments

3

In [34]:
model = ols('value ~ C(variable)', data=ins_df.melt()).fit()
anova_table = sm.stats.anova_lm(model, typ=1)
anova_table

              df  sum_sq  mean_sq         F    PR(>F)
C(variable)  3.0   438.0   146.00  0.628633  0.616646
Residual     8.0  1858.0   232.25       NaN       NaN