In [1]:
import pandas as pd

In [4]:
ex_15_2 = pd.read_excel('hw6.xlsx', sheet_name='15.2')
ex_15_6 = pd.read_excel('hw6.xlsx', sheet_name='15.6')
ex_15_10 = pd.read_excel('hw6.xlsx', sheet_name='15.10')

## 15.1

## 15.2

In [5]:
# ex_15_2

    Yields  Farm     Irrigation
0      597     1        Surface
1      636     2        Surface
2      591     3        Surface
3      603     4        Surface
4      649     5        Surface
5      512     6        Surface
6      588     7        Surface
7      689     8        Surface
8      690     9        Surface
9      608    10        Surface
10     248     1        Trickle
11     382     2        Trickle
12     348     3        Trickle
13     366     4        Trickle
14     258     5        Trickle
15     321     6        Trickle
16     423     7        Trickle
17     406     8        Trickle
18     400     9        Trickle
19     380    10        Trickle
20     391     1   Center Point
21     434     2   Center Point
22     492     3   Center Point
23     468     4   Center Point
24     457     5   Center Point
25     406     6   Center Point
26     466     7   Center Point
27     502     8   Center Point
28     559     9   Center Point
29     469    10   Center Point
30     423     1        Lateral
31     461     2        Lateral
32     504     3        Lateral
33     580     4        Lateral
34     449     5        Lateral
35     464     6        Lateral
36     550     7        Lateral
37     526     8        Lateral
38     469     9        Lateral
39     550    10        Lateral
40     350     1  Subirrigation
41     370     2  Subirrigation
42     460     3  Subirrigation
43     452     4  Subirrigation
44     343     5  Subirrigation
45     340     6  Subirrigation
46     327     7  Subirrigation
47     378     8  Subirrigation
48     419     9  Subirrigation
49     548    10  Subirrigation

## 15.6

In [6]:
# ex_15_6

    Speed  Subject      Music
0      20        1   No Music
1      17        2   No Music
2      24        3   No Music
3      20        4   No Music
4      22        5   No Music
5      25        6   No Music
6      18        7   No Music
7      20        1  Hard Rock
8      18        2  Hard Rock
9      23        3  Hard Rock
10     18        4  Hard Rock
11     21        5  Hard Rock
12     22        6  Hard Rock
13     19        7  Hard Rock
14     24        1  Classical
15     20        2  Classical
16     27        3  Classical
17     22        4  Classical
18     24        5  Classical
19     28        6  Classical
20     16        7  Classical

## 15.10

In [7]:
# ex_15_10

    Mileage  Driver  Model Gasoline
0      15.5       1      1        A
1      33.8       1      2        B
2      13.7       1      3        C
3      29.2       1      4        D
4      16.3       2      1        B
5      26.4       2      2        C
6      19.1       2      3        D
7      22.5       2      4        A
8      10.5       3      1        C
9      31.5       3      2        D
10     17.5       3      3        A
11     30.1       3      4        B
12     14.0       4      1        D
13     34.5       4      2        A
14     19.7       4      3        B
15     21.6       4      4        C

## 15.12