In [2]:
import math
import pingouin as pg
import scipy.stats as st
import pandas as pd

In [11]:
df = pd.read_excel('hw9.xlsx', sheet_name='18.14')
df_melted = df.melt(id_vars=['Patient','Sequence'], value_vars=['Time1', 'Time2'], value_name='TimeSlept', var_name='TimeName')

In [13]:
df_melted

    Patient  Sequence TimeName  TimeSlept
0         1         1    Time1        8.6
1         2         1    Time1        7.5
2         3         1    Time1        8.3
3         4         1    Time1        8.4
4         5         1    Time1        6.4
5         6         1    Time1        6.9
6         7         1    Time1        6.5
7         8         1    Time1        6.0
8         9         2    Time1        7.3
9        10         2    Time1        7.5
10       11         2    Time1        6.4
11       12         2    Time1        6.8
12       13         2    Time1        7.1
13       14         2    Time1        8.2
14       15         2    Time1        7.2
15       16         2    Time1        6.7
16        1         1    Time2        8.0
17        2         1    Time2        7.1
18        3         1    Time2        7.4
19        4         1    Time2        7.3
20        5         1    Time2        6.4
21        6         1    Time2        6.8
22        7         1    Time2        6.1
23        8         1    Time2        5.7
24        9         2    Time2        7.9
25       10         2    Time2        7.6
26       11         2    Time2        6.3
27       12         2    Time2        7.5
28       13         2    Time2        7.7
29       14         2    Time2        8.6
30       15         2    Time2        7.8
31       16         2    Time2        6.9

In [19]:
data = pg.read_dataset('rm_anova')
data

,Subject,Gender,Region,Education,DesireToKill,Disgustingness,Frighteningness
0,1,Female,North,some,10.0,High,High
1,1,Female,North,some,9.0,High,Low
2,1,Female,North,some,6.0,Low,High
3,1,Female,North,some,6.0,Low,Low
4,2,Female,North,advance,10.0,High,High
...,...,...,...,...,...,...,...
367,99,Female,North,some,9.0,Low,Low
368,100,Female,Europe,some,3.0,High,High
369,100,Female,Europe,some,2.0,High,Low
370,100,Female,Europe,some,5.5,Low,High
371,100,Female,Europe,some,5.5,Low,Low