# Exercise 2-2: Write your own code for the Mortality Notebook

In [335]:
import pandas as pd

### Get data

In [336]:
# my example didn't have a pkl file, so I made it  :)
mortality_url = "https://data.cdc.gov/api/views/v6ab-adf5/rows.csv?accessType=DOWNLOAD"
mortality_data = pd.read_csv(mortality_url)

### Clean the data

In [337]:
# remove spacing in column headers > would need to handle camel case
mortality_data.columns = mortality_data.columns.str.replace(" ", "")
mortality_data['MeanCentered'] = \
    mortality_data.DeathRate - mortality_data.DeathRate.mean()
mortality_data.head(5)

# # replace values like in example
mortality_data.AgeGroup.replace(
    {'1-4 Years':'01-04 Years','5-9 Years':'05-09 Years'},
    inplace = True)
mortality_data.columns = mortality_data.columns.str.replace("DeathRate","DeathRate/100K")
mortality_data.head(8)

   Year     AgeGroup  DeathRate/100K  MeanCentered
0  1900  01-04 Years          1983.8    1790.87584
1  1901  01-04 Years          1695.0    1502.07584
2  1902  01-04 Years          1655.7    1462.77584
3  1903  01-04 Years          1542.1    1349.17584
4  1904  01-04 Years          1591.5    1398.57584
5  1905  01-04 Years          1498.9    1305.97584
6  1906  01-04 Years          1580.0    1387.07584
7  1907  01-04 Years          1468.3    1275.37584

In [338]:
query_df = mortality_data.query('AgeGroup == "01-04 Years"').sort_values(['DeathRate/100K'],ascending=False)
report_df = query_df.head(3)
report_df = report_df.append(query_df.tail(3))
report_df
# mortality_data.query('AgeGroup == "01-04 Years"').sort_values(['DeathRate/100K'],ascending=False).tail(3)

     Year     AgeGroup  DeathRate/100K  MeanCentered
0    1900  01-04 Years          1983.8    1790.87584
1    1901  01-04 Years          1695.0    1502.07584
2    1902  01-04 Years          1655.7    1462.77584
117  2017  01-04 Years            24.3    -168.62416
114  2014  01-04 Years            24.0    -168.92416
118  2018  01-04 Years            24.0    -168.92416

# Wide DataFrame

### Set wide dataframe

In [339]:
mortality_wide = mortality_data.pivot(
    index="Year",columns="AgeGroup",values="DeathRate/100K")
mortality_wide.to_excel('mortality_wide.xlsx')

### Review dataframe

In [340]:
# print head
mortality_wide.head(5)

AgeGroup  01-04 Years  05-09 Years  10-14 Years  15-19 Years
Year
1900           1983.8        466.1        298.3        484.8
1901           1695.0        427.6        273.6        454.4
1902           1655.7        403.3        252.5        421.5
1903           1542.1        414.7        268.2        434.1
1904           1591.5        425.0        305.2        471.4

In [341]:
# get summary
mortality_wide.describe()

AgeGroup  01-04 Years  05-09 Years  10-14 Years  15-19 Years
count      119.000000   119.000000   119.000000    119.00000
mean       383.226050   117.326050    93.769748    177.37479
std        500.454211   127.474958    88.404363    138.36229
min         24.000000    11.400000    13.900000     44.80000
25%         50.650000    24.000000    27.200000     85.45000
50%        109.100000    48.400000    44.600000    106.90000
75%        577.300000   198.900000   158.900000    283.65000
max       1983.800000   466.100000   375.100000    777.40000

In [342]:
# transpose summary
mortality_wide.describe().T

             count        mean         std   min    25%    50%     75%     max
AgeGroup
01-04 Years  119.0  383.226050  500.454211  24.0  50.65  109.1  577.30  1983.8
05-09 Years  119.0  117.326050  127.474958  11.4  24.00   48.4  198.90   466.1
10-14 Years  119.0   93.769748   88.404363  13.9  27.20   44.6  158.90   375.1
15-19 Years  119.0  177.374790  138.362290  44.8  85.45  106.9  283.65   777.4

In [343]:
# isolate columns
mortality_wide.loc[:, ['Year', '01-04 Years']]

KeyError: "['Year'] not in index"

In [ ]:
# query wide dataframe
mortality_wide.query('Year >= 1915 and  Year <= 1920')

In [ ]:
# query dataframe and isolate columns for display/report
mortality_wide.query('Year >= 1915 and  Year <= 1920').loc[:, ['Year', '01-04 Years']]

# Long Dataframe

### Set long dataframe

In [ ]:
mortality_wide = pd.read_excel('mortality_wide.xlsx')
mortality_wide.head(8)
mortality_long = mortality_wide.melt(
    id_vars='Year',
    var_name='AgeGroup',
    value_vars=['01-04 Years','05-09 Years','10-14 Years','15-19 Years'],
    value_name="DeathRate"
)
mortality_long

### Review dataframe

### Calculate median

In [ ]:
mortality_long.DeathRate.median()

### Grouped sums

In [ ]:
mortality_long.groupby('Year').sum('DeathRate')