## DA 420 - Project 3
## Matt Graham

#### Imports

In [4]:
# Traditional Conjoint Analysis (Python)

# prepare for Python version 3x features and functions
from __future__ import division, print_function

# import packages for analysis and modeling
import pandas as pd  # data frame operations
import numpy as np  # arrays and math functions
from numpy import unique
import statsmodels.api as sm  # statistical models (including regression)
import statsmodels.formula.api as smf  # R-like model specification
from patsy.contrasts import Sum
from scipy.stats import uniform  # for training-and-test split
import matplotlib.pyplot as plt  # 2D plotting
import seaborn as sns

### Part 1

#### Get an clean data

In [5]:
# read in conjoint survey profiles with respondent ranks
conjoint_data_frame = pd.read_csv('mobile.csv')

conjoint_attributes = ['brand', 'startup', 'monthly', 'service',
    'retail', 'apple', 'samsung', 'google']

conjoint_data_frame

,brand,startup,monthly,service,retail,apple,samsung,google,ranking
0,AT&T,$100,$100,4G NO,Retail NO,APPLE NO,Samsung NO,Nexus NO,11
1,Verizon,$300,$100,4G NO,Retail YES,APPLE YES,Samsung YES,Nexus NO,12
2,US Cellular,$400,$200,4G NO,Retail NO,APPLE NO,Samsung YES,Nexus NO,9
3,Verizon,$400,$400,4G YES,Retail YES,APPLE NO,Samsung NO,Nexus NO,2
4,Verizon,$200,$300,4G NO,Retail NO,APPLE NO,Samsung YES,Nexus YES,8
5,Verizon,$100,$200,4G YES,Retail NO,APPLE YES,Samsung NO,Nexus YES,13
6,US Cellular,$300,$300,4G YES,Retail NO,APPLE YES,Samsung NO,Nexus NO,7
7,AT&T,$400,$300,4G NO,Retail YES,APPLE YES,Samsung NO,Nexus YES,4
8,AT&T,$200,$400,4G YES,Retail NO,APPLE YES,Samsung YES,Nexus NO,5
9,T-mobile,$400,$100,4G YES,Retail NO,APPLE YES,Samsung YES,Nexus YES,16
10,US Cellular,$100,$400,4G NO,Retail YES,APPLE YES,Samsung YES,Nexus YES,3
11,T-mobile,$200,$200,4G NO,Retail YES,APPLE YES,Samsung NO,Nexus NO,6
12,T-mobile,$100,$300,4G YES,Retail YES,APPLE NO,Samsung YES,Nexus NO,10
13,US Cellular,$200,$100,4G YES,Retail YES,APPLE NO,Samsung NO,Nexus YES,15
14,T-mobile,$300,$400,4G NO,Retail NO,APPLE NO,Samsung NO,Nexus YES,1
15,AT&T,$300,$200,4G YES,Retail YES,APPLE NO,Samsung YES,Nexus YES,14

In [6]:
conjoint_data_frame['new_rank'] = np.random.permutation(conjoint_data_frame['ranking'].values)
conjoint_data_frame

,brand,startup,monthly,service,retail,apple,samsung,google,ranking,new_rank
0,AT&T,$100,$100,4G NO,Retail NO,APPLE NO,Samsung NO,Nexus NO,11,12
1,Verizon,$300,$100,4G NO,Retail YES,APPLE YES,Samsung YES,Nexus NO,12,8
2,US Cellular,$400,$200,4G NO,Retail NO,APPLE NO,Samsung YES,Nexus NO,9,15
3,Verizon,$400,$400,4G YES,Retail YES,APPLE NO,Samsung NO,Nexus NO,2,4
4,Verizon,$200,$300,4G NO,Retail NO,APPLE NO,Samsung YES,Nexus YES,8,6
5,Verizon,$100,$200,4G YES,Retail NO,APPLE YES,Samsung NO,Nexus YES,13,7
6,US Cellular,$300,$300,4G YES,Retail NO,APPLE YES,Samsung NO,Nexus NO,7,1
7,AT&T,$400,$300,4G NO,Retail YES,APPLE YES,Samsung NO,Nexus YES,4,11
8,AT&T,$200,$400,4G YES,Retail NO,APPLE YES,Samsung YES,Nexus NO,5,3
9,T-mobile,$400,$100,4G YES,Retail NO,APPLE YES,Samsung YES,Nexus YES,16,10
10,US Cellular,$100,$400,4G NO,Retail YES,APPLE YES,Samsung YES,Nexus YES,3,2
11,T-mobile,$200,$200,4G NO,Retail YES,APPLE YES,Samsung NO,Nexus NO,6,14
12,T-mobile,$100,$300,4G YES,Retail YES,APPLE NO,Samsung YES,Nexus NO,10,13
13,US Cellular,$200,$100,4G YES,Retail YES,APPLE NO,Samsung NO,Nexus YES,15,5
14,T-mobile,$300,$400,4G NO,Retail NO,APPLE NO,Samsung NO,Nexus YES,1,9
15,AT&T,$300,$200,4G YES,Retail YES,APPLE NO,Samsung YES,Nexus YES,14,16

#### Sum contrasts

In [7]:
# set up sum contrasts for effects coding as needed for conjoint analysis
# using C(effect, Sum) notation within main effects model specification
main_effects_model = 'new_rank ~ C(brand, Sum) + C(startup, Sum) +  \
    C(monthly, Sum) + C(service, Sum) + C(retail, Sum) + C(apple, Sum) + \
    C(samsung, Sum) + C(google, Sum)'

# fit linear regression model using main effects only (no interaction terms)
main_effects_model_fit = smf.ols(main_effects_model, data = conjoint_data_frame).fit()
main_effects_model_fit.summary()

c:\Python310\lib\site-packages\scipy\stats\_stats_py.py:1477: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=16
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               new_rank   R-squared:                       0.993
Model:                            OLS   Adj. R-squared:                  0.901
Method:                 Least Squares   F-statistic:                     10.72
Date:                Fri, 27 Jan 2023   Prob (F-statistic):              0.235
Time:                        16:26:15   Log-Likelihood:                -7.0097
No. Observations:                  16   AIC:                             44.02
Df Residuals:                       1   BIC:                             55.61
Df Model:                          14
Covariance Type:            nonrobust
=================================================================================================
                                    coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
Intercept                         8.5000      0.375     22.667      0.028       3.735      13.265
C(brand, Sum)[S.AT&T]             2.0000      0.650      3.079      0.200      -6.253      10.253
C(brand, Sum)[S.T-mobile]         3.0000      0.650      4.619      0.136      -5.253      11.253
C(brand, Sum)[S.US Cellular]     -2.7500      0.650     -4.234      0.148     -11.003       5.503
C(startup, Sum)[S.$100 ]       -2.22e-15      0.650  -3.42e-15      1.000      -8.253       8.253
C(startup, Sum)[S.$200 ]         -1.5000      0.650     -2.309      0.260      -9.753       6.753
C(startup, Sum)[S.$300 ]       4.663e-15      0.650   7.18e-15      1.000      -8.253       8.253
C(monthly, Sum)[S.$100 ]          0.2500      0.650      0.385      0.766      -8.003       8.503
C(monthly, Sum)[S.$200 ]          4.5000      0.650      6.928      0.091      -3.753      12.753
C(monthly, Sum)[S.$300 ]         -0.7500      0.650     -1.155      0.454      -9.003       7.503
C(service, Sum)[S.4G NO]          1.1250      0.375      3.000      0.205      -3.640       5.890
C(retail, Sum)[S.Retail NO]      -0.6250      0.375     -1.667      0.344      -5.390       4.140
C(apple, Sum)[S.APPLE NO]         1.5000      0.375      4.000      0.156      -3.265       6.265
C(samsung, Sum)[S.Samsung NO]    -0.6250      0.375     -1.667      0.344      -5.390       4.140
C(google, Sum)[S.Nexus NO]        0.2500      0.375      0.667      0.626      -4.515       5.015
==============================================================================
Omnibus:                       29.718   Durbin-Watson:                   2.000
Prob(Omnibus):                  0.000   Jarque-Bera (JB):                2.667
Skew:                           0.000   Prob(JB):                        0.264
Kurtosis:                       1.000   Cond. No.                         2.00
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

#### Indexing parameter coefficients

In [8]:
# build part-worth information one attribute at a time
level_name = []
part_worth = []
part_worth_range = []
end = 1  # initialize index for coefficient in params
for item in conjoint_attributes:
    nlevels = len(list(unique(conjoint_data_frame[item])))
    level_name.append(list(unique(conjoint_data_frame[item]))) 
    begin = end 
    end = begin + nlevels - 1
    new_part_worth = list(main_effects_model_fit.params[begin:end])
    new_part_worth.append((-1) * sum(new_part_worth))  
    part_worth_range.append(max(new_part_worth) - min(new_part_worth))  
    part_worth.append(new_part_worth)   
    # end set to begin next iteration

pd.DataFrame(part_worth_range)

      0
0  5.75
1  3.00
2  8.50
3  2.25
4  1.25
5  3.00
6  1.25
7  0.50

#### Compute and report relative importance

In [9]:
# compute attribute relative importance values from ranges
attribute_importance = []
for item in part_worth_range:
    attribute_importance.append(round(100 * (item / sum(part_worth_range)),2))
    
# user-defined dictionary for printing descriptive attribute names     
effect_name_dict = {'brand' : 'Mobile Service Provider', \
    'startup' : 'Start-up Cost', 'monthly' : 'Monthly Cost', \
    'service' : 'Offers 4G Service', 'retail' : 'Has Nearby Retail Store', \
    'apple' : 'Sells Apple Products', 'samsung' : 'Sells Samsung Products', \
    'google' : 'Sells Google/Nexus Products'}  
 
# report conjoint measures to console 
index = 0  # initialize for use in for-loop
for item in conjoint_attributes:
    print('\nAttribute:', effect_name_dict[item])
    print('    Importance:', attribute_importance[index])
    print('    Level Part-Worths')
    for level in range(len(level_name[index])):
        print('       ',level_name[index][level], part_worth[index][level])       
    index = index + 1

Attribute: Mobile Service Provider
    Importance: 22.55
    Level Part-Worths
        AT&T 2.0000000000000018
        T-mobile 2.999999999999999
        US Cellular -2.7500000000000013
        Verizon -2.2499999999999996

Attribute: Start-up Cost
    Importance: 11.76
    Level Part-Worths
        $100  -2.220446049250313e-15
        $200  -1.5
        $300  4.6629367034256575e-15
        $400  1.4999999999999976

Attribute: Monthly Cost
    Importance: 33.33
    Level Part-Worths
        $100  0.25000000000000056
        $200  4.499999999999998
        $300  -0.7499999999999978
        $400  -4.000000000000002

Attribute: Offers 4G Service
    Importance: 8.82
    Level Part-Worths
        4G NO 1.1250000000000004
        4G YES -1.1250000000000004

Attribute: Has Nearby Retail Store
    Importance: 4.9
    Level Part-Worths
        Retail NO -0.6249999999999996
        Retail YES 0.6249999999999996

Attribute: Sells Apple Products
    Importance: 11.76
    Level Part-Worths
        APPLE NO 1.5000000000000009
        APPLE YES -1.5000000000000009

Attribute: Sells Samsung Products
    Importance: 4.9
    Level Part-Worths
        Samsung NO -0.6250000000000002
        Samsung YES 0.6250000000000002

Attribute: Sells Google/Nexus Products
    Importance: 1.96
    Level Part-Worths
        Nexus NO 0.25
        Nexus YES -0.25

#### Interpretation

After shuffling our rankings, we can conclude the most important attributes are: Mobile service provider, monthly cost, start-up cost, and has a nearby retail store. 

Within those main attributes, the most-ranked would be: A Verizon phone start-up cost ~$100 and a monthly fee of around the same, $100.

#### Spine chart attempt

In [10]:
effect_df = pd.concat([pd.Series(effect_name_dict.keys()), pd.Series(attribute_importance)], axis=1)
effect_names = pd.DataFrame(effect_name_dict, index=range(1)).T
effect_names = pd.concat([effect_names, pd.Series(level_name, index=effect_names.index)], axis = 1, ignore_index=True)
effect_names = effect_names.rename(columns={0: 'attribute', 1: 'levels'})

effect_names

                           attribute                                  levels
brand        Mobile Service Provider  [AT&T, T-mobile, US Cellular, Verizon]
startup                Start-up Cost            [$100 , $200 , $300 , $400 ]
monthly                 Monthly Cost            [$100 , $200 , $300 , $400 ]
service            Offers 4G Service                         [4G NO, 4G YES]
retail       Has Nearby Retail Store                 [Retail NO, Retail YES]
apple           Sells Apple Products                   [APPLE NO, APPLE YES]
samsung       Sells Samsung Products               [Samsung NO, Samsung YES]
google   Sells Google/Nexus Products                   [Nexus NO, Nexus YES]

In [ ]:
## Not sure where to go from here??

### Part 2

In [17]:
# import package for analysis and modeling
from rpy2.robjects import r   # interface from Python to R

r('library(arules)')  # association rules
r('library(arulesViz)')  # data visualization of association rules
r('library(RColorBrewer)')  # color palettes for plots

r('data(Groceries)')  # grocery transactions object from arules package

# show the dimensions of the transactions object
r('print(dim(Groceries))')

r('print(dim(Groceries)[1])')  # 9835 market baskets for shopping trips
r('print(dim(Groceries)[2])')  # 169 initial store items  

# examine frequency for each item with support greater than 0.025
r('png(file="fig_market_basket_initial_item_support.png", \
    width = 600, height = 800)')
r('itemFrequencyPlot(Groceries, support = 0.025, \
    cex.names=0.8, xlim = c(0,0.3), \
    type = "relative", horiz = TRUE, col = "dark red", las = 1, \
    xlab = paste("Proportion of Market Baskets Containing Item", \
      "\n(Item Relative Frequency or Support)"))')
r('dev.off()')    

# explore possibilities for combining similar items
r('print(head(itemInfo(Groceries)))') 
r('print(levels(itemInfo(Groceries)[["level1"]]))')  # 10 levels... too few 
r('print(levels(itemInfo(Groceries)[["level2"]]))')  # 55 distinct levels

# aggregate items using the 55 level2 levels for food categories
# to create a more meaningful set of items
r('groceries <- aggregate(Groceries, itemInfo(Groceries)[["level2"]])')  

r('print(dim(groceries)[1])')  # 9835 market baskets for shopping trips
r('print(dim(groceries)[2])')  # 55 final store items (categories)  

r('png(file="fig_market_basket_final_item_support.png", \
      width = 600, height = 800)')
r('itemFrequencyPlot(groceries, support = 0.025, \
       cex.names=1.0, xlim = c(0,0.5),\
       type = "relative", horiz = TRUE, col = "blue", las = 1,\
       xlab = paste("Proportion of Market Baskets Containing Item",\
    "\n(Item Relative Frequency or Support)"))')
r('dev.off()')   

# obtain large set of association rules for items by category and all shoppers
# this is done by setting very low criteria for support and confidence
r('first.rules <- apriori(groceries, \
       parameter = list(support = 0.001, confidence = 0.05))')
r('print(summary(first.rules))')  # yields 69,921 rules... too many

# select association rules using thresholds for support and confidence 
r('second.rules <- apriori(groceries, \
       parameter = list(support = 0.025, confidence = 0.05))')
r('print(summary(second.rules))')  # yields 344 rules
  
# data visualization of association rules in scatter plot
r('png(file="fig_market_basket_rules.png", width = 800, height = 800)')
r('plot(second.rules, \
       control=list(jitter=2, col = rev(brewer.pal(9, "Greens")[4:9])), \
  shading = "lift")')   
r('dev.off()')    
  
# grouped matrix of rules 
r('png(file="fig_market_basket_rules_matrix.png", \
       width = 800, height = 800)')
r('plot(second.rules, method="grouped", \
       control=list(col = rev(brewer.pal(9, "Greens")[4:9])))')
r('dev.off()')    

# select rules with vegetables in consequent (right-hand-side) item subsets
r('fruit.rules <- subset(second.rules, subset = rhs %pin% "fruit")')
r('fruit.rules <- head(sort(fruit.rules, by="confidence", decreasing=TRUE),10)')
r('inspect(fruit.rules)')  # 41 rules

# sort by lift and identify the top 10 rules
r('top.fruit.rules <- head(sort(fruit.rules, \
       decreasing = TRUE, by = "lift"), 10)')
r('inspect(top.fruit.rules)') 

r('png(file="fig_market_basket_farmer_rules.png", width = 800, height = 600)')
r('plot(top.fruit.rules, method="graph", \
       control=list(type="items"), \
       shading = "lift")')
r('dev.off()')  

# Suggestions for the student:
# Suppose your client is someone other than the local farmer,
# a meat producer/butcher, dairy, or brewer perhaps.
# Determine association rules relevant to your client's products
# guided by the market basket model. What recommendations
# would you make about future marketplace actions?

[1] 9835  169
[1] 9835
[1] 169
             labels  level2           level1
1       frankfurter sausage meat and sausage
2           sausage sausage meat and sausage
3        liver loaf sausage meat and sausage
4               ham sausage meat and sausage
5              meat sausage meat and sausage
6 finished products sausage meat and sausage
 [1] "canned food"          "detergent"            "drinks"
 [4] "fresh products"       "fruit and vegetables" "meat and sausage"
 [7] "non-food"             "perfumery"            "processed food"
[10] "snacks and candies"
 [1] "baby food"                       "bags"
 [3] "bakery improver"                 "bathroom cleaner"
 [5] "beef"                            "beer"
 [7] "bread and backed goods"          "candy"
 [9] "canned fish"                     "canned fruit/vegetables"
[11] "cheese"                          "chewing gum"
[13] "chocolate"                       "cleaner"
[15] "coffee"                          "condiments"
[17] "cosmetics"                       "dairy produce"
[19] "delicatessen"                    "dental care"
[21] "detergent/softener"              "eggs"
[23] "fish"                            "frozen foods"
[25] "fruit"                           "games/books/hobby"
[27] "garden"                          "hair care"
[29] "hard drinks"                     "health food"
[31] "jam/sweet spreads"               "long-life bakery products"
[33] "meat spreads"                    "non-alc. drinks"
[35] "non-food house keeping products" "non-food kitchen"
[37] "packaged fruit/vegetables"       "perfumery"
[39] "personal hygiene"                "pet food/care"
[41] "pork"                            "poultry"
[43] "pudding powder"                  "sausage"
[45] "seasonal products"               "shelf-stable dairy"
[47] "snacks"                          "soap"
[49] "soups/sauces"                    "staple foods"
[51] "sweetener"                       "tea/cocoa drinks"
[53] "vegetables"                      "vinegar/oils"
[55] "wine"
[1] 9835
[1] 55
Apriori

Parameter specification:
 confidence minval smax arem  aval originalSupport maxtime support minlen
       0.05    0.1    1 none FALSE            TRUE       5   0.001      1
 maxlen target  ext
     10  rules TRUE

Algorithmic control:
 filter tree heap memopt load sort verbose
    0.1 TRUE TRUE  FALSE TRUE    2    TRUE

Absolute minimum support count: 9

set item appearances ...[0 item(s)] done [0.00s].
set transactions ...[55 item(s), 9835 transaction(s)] done [0.00s].
sorting and recoding items ... [54 item(s)] done [0.00s].
creating transaction tree ... done [0.00s].
checking subsets of size 1 2 3 4 5 6 7 8 done [0.01s].
writing ... [69921 rule(s)] done [0.02s].
creating S4 object  ... done [0.01s].
set of 69921 rules

rule length distribution (lhs + rhs):sizes
    1     2     3     4     5     6     7     8
   21  1205 10467 23895 22560  9888  1813    72

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  1.000   4.000   4.000   4.502   5.000   8.000

summary of quality measures:
    support           confidence        coverage             lift
 Min.   :0.001017   Min.   :0.0500   Min.   :0.001017   Min.   : 0.4475
 1st Qu.:0.001118   1st Qu.:0.2110   1st Qu.:0.002440   1st Qu.: 1.8315
 Median :0.001525   Median :0.4231   Median :0.004372   Median : 2.2573
 Mean   :0.002488   Mean   :0.4364   Mean   :0.009687   Mean   : 2.5382
 3rd Qu.:0.002339   3rd Qu.:0.6269   3rd Qu.:0.009354   3rd Qu.: 2.9662
 Max.   :0.443010   Max.   :1.0000   Max.   :1.000000   Max.   :16.1760
     count
 Min.   :  10.00
 1st Qu.:  11.00
 Median :  15.00
 Mean   :  24.47
 3rd Qu.:  23.00
 Max.   :4357.00

mining info:
      data ntransactions support confidence
 groceries          9835   0.001       0.05
                                                                            call
 apriori(data = groceries, parameter = list(support = 0.001, confidence = 0.05))
Apriori

Parameter specification:
 confidence minval smax arem  aval originalSupport maxtime support minlen
       0.05    0.1    1 none FALSE            TRUE       5   0.025      1
 maxlen target  ext
     10  rules TRUE

Algorithmic control:
 filter tree heap memopt load sort verbose
    0.1 TRUE TRUE  FALSE TRUE    2    TRUE

Absolute minimum support count: 245

set item appearances ...[0 item(s)] done [0.00s].
set transactions ...[55 item(s), 9835 transaction(s)] done [0.00s].
sorting and recoding items ... [32 item(s)] done [0.00s].
creating transaction tree ... done [0.00s].
checking subsets of size 1 2 3 4 done [0.00s].
writing ... [344 rule(s)] done [0.00s].
creating S4 object  ... done [0.00s].
set of 344 rules

rule length distribution (lhs + rhs):sizes
  1   2   3   4
 21 162 129  32

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
    1.0     2.0     2.0     2.5     3.0     4.0

summary of quality measures:
    support          confidence         coverage            lift
 Min.   :0.02542   Min.   :0.05043   Min.   :0.03427   Min.   :0.6669
 1st Qu.:0.03030   1st Qu.:0.18202   1st Qu.:0.07626   1st Qu.:1.2498
 Median :0.03854   Median :0.39522   Median :0.11657   Median :1.4770
 Mean   :0.05276   Mean   :0.37658   Mean   :0.21184   Mean   :1.4831
 3rd Qu.:0.05236   3rd Qu.:0.51271   3rd Qu.:0.27300   3rd Qu.:1.7094
 Max.   :0.44301   Max.   :0.79841   Max.   :1.00000   Max.   :2.4073
     count
 Min.   : 250.0
 1st Qu.: 298.0
 Median : 379.0
 Mean   : 518.9
 3rd Qu.: 515.0
 Max.   :4357.0

mining info:
      data ntransactions support confidence
 groceries          9835   0.025       0.05
                                                                            call
 apriori(data = groceries, parameter = list(support = 0.025, confidence = 0.05))
     lhs                          rhs        support confidence   coverage     lift count
[1]  {dairy produce,
      sausage,
      vegetables}              => {fruit} 0.02714794  0.5154440 0.05266904 2.069140   267
[2]  {dairy produce,
      non-alc. drinks,
      vegetables}              => {fruit} 0.03304525  0.5126183 0.06446365 2.057796   325
[3]  {bread and backed goods,
      dairy produce,
      vegetables}              => {fruit} 0.04077275  0.4975186 0.08195221 1.997182   401
[4]  {bread and backed goods,
      dairy produce,
      non-alc. drinks}         => {fruit} 0.03528216  0.4880450 0.07229283 1.959152   347
[5]  {cheese,
      vegetables}              => {fruit} 0.02674123  0.4834559 0.05531266 1.940730   263
[6]  {bread and backed goods,
      dairy produce,
      sausage}                 => {fruit} 0.03060498  0.4785374 0.06395526 1.920986   301
[7]  {cheese,
      dairy produce}           => {fruit} 0.03965430  0.4687500 0.08459583 1.881696   390
[8]  {bread and backed goods,
      cheese}                  => {fruit} 0.02958821  0.4648562 0.06365023 1.866066   291
[9]  {dairy produce,
      vegetables}              => {fruit} 0.07869853  0.4618138 0.17041179 1.853853   774
[10] {non-alc. drinks,
      vegetables}              => {fruit} 0.04361973  0.4612903 0.09456024 1.851751   429
     lhs                          rhs        support confidence   coverage     lift count
[1]  {dairy produce,
      sausage,
      vegetables}              => {fruit} 0.02714794  0.5154440 0.05266904 2.069140   267
[2]  {dairy produce,
      non-alc. drinks,
      vegetables}              => {fruit} 0.03304525  0.5126183 0.06446365 2.057796   325
[3]  {bread and backed goods,
      dairy produce,
      vegetables}              => {fruit} 0.04077275  0.4975186 0.08195221 1.997182   401
[4]  {bread and backed goods,
      dairy produce,
      non-alc. drinks}         => {fruit} 0.03528216  0.4880450 0.07229283 1.959152   347
[5]  {cheese,
      vegetables}              => {fruit} 0.02674123  0.4834559 0.05531266 1.940730   263
[6]  {bread and backed goods,
      dairy produce,
      sausage}                 => {fruit} 0.03060498  0.4785374 0.06395526 1.920986   301
[7]  {cheese,
      dairy produce}           => {fruit} 0.03965430  0.4687500 0.08459583 1.881696   390
[8]  {bread and backed goods,
      cheese}                  => {fruit} 0.02958821  0.4648562 0.06365023 1.866066   291
[9]  {dairy produce,
      vegetables}              => {fruit} 0.07869853  0.4618138 0.17041179 1.853853   774
[10] {non-alc. drinks,
      vegetables}              => {fruit} 0.04361973  0.4612903 0.09456024 1.851751   429

R[write to console]: Warning:
R[write to console]:  Unknown control parameters: type

Available control parameters (with default values):
layout	 =  stress
circular	 =  FALSE
ggraphdots	 =  NULL
edges	 =  <environment>
nodes	 =  <environment>
nodetext	 =  <environment>
colors	 =  c("#EE0000FF", "#EEEEEEFF")
engine	 =  ggplot2
max	 =  100
verbose	 =  FALSE

<rpy2.robjects.vectors.IntVector object at 0x0000028B9EC52300> [RTYPES.INTSXP]
R classes: ('integer',)
[1]

#### Interpretation

This was a bit difficult to implement - the visuals did not produce as expected. However, we can conclude that folks who purchase fruit are most likely to have dairy produce, bread/baked goods, vegetables, and non-alcoholic beverages. 

I am including the visuals that compiled without error as well.