In [1]:
import cityscraper
import pandas as pd

In [7]:
artist_df = pd.DataFrame()
http_pm, user_agent = cityscraper.get_connection()

city = "seattle"
# cities = ['','','']
# pages = range(1, 15)

artist_url = f"https://www.last.fm/tag/{city}/artists?page=1"

artist_df = pd.concat([artist_df, cityscraper.get_city_artists(http_pm, user_agent, artist_url)])
# album_df = get_city_albums(city, albums_url)
# print(album_df.head())

print(len(artist_df))
print(artist_df.head())

21
        artist listeners    artisturl
0     Kumarion    37,791     Kumarion
1   BitterMilk    22,624   BitterMilk
2  Phe R.E.D.S    17,315  Phe+R.E.D.S
3  The Physics    21,851  The+Physics
4     Phe Reds    13,666     Phe+Reds

In [12]:
artist_df['artisturl'][0]

artist_page = cityscraper.get_html(http_pm, user_agent, artist_df['artisturl'][0])
cityscraper.debug_save_html(artist_page)

artist_info = cityscraper.get_values(artist_page_regs, artist_page)
pd.concat([artist_df, artist_info], axis=1)

,artist,listeners,artisturl,totallisteners,totalscrobbles,latestreleaseurl
0,Kumarion,"37,791",https://www.last.fm/music/Kumarion,"37,791","244,733",/music/Kumarion/See+The+Sky+(feat.+TZAR)+-+Single
1,BitterMilk,"22,624",https://www.last.fm/music/BitterMilk,NaN,NaN,NaN
2,Phe R.E.D.S,"17,315",https://www.last.fm/music/Phe+R.E.D.S,NaN,NaN,NaN
3,The Physics,"21,851",https://www.last.fm/music/The+Physics,NaN,NaN,NaN
4,Phe Reds,"13,666",https://www.last.fm/music/Phe+Reds,NaN,NaN,NaN
5,Kings (MHM),"7,443",https://www.last.fm/music/Kings+(MHM),NaN,NaN,NaN
6,Jay Loud,"12,562",https://www.last.fm/music/Jay+Loud,NaN,NaN,NaN
7,The Maldives,"15,282",https://www.last.fm/music/The+Maldives,NaN,NaN,NaN
8,grynch,"17,969",https://www.last.fm/music/grynch,NaN,NaN,NaN
9,Gold Brother,"11,426",https://www.last.fm/music/Gold+Brother,NaN,NaN,NaN
10,Cherry Ferrari,"8,265",https://www.last.fm/music/Cherry+Ferrari,NaN,NaN,NaN
11,Jarv Dee,"10,791",https://www.last.fm/music/Jarv+Dee,NaN,NaN,NaN
12,Visqueen,"7,782",https://www.last.fm/music/Visqueen,NaN,NaN,NaN
13,Smokey Brights,"8,070",https://www.last.fm/music/Smokey+Brights,NaN,NaN,NaN
14,Sean Nelson,"2,643",https://www.last.fm/music/Sean+Nelson,NaN,NaN,NaN
15,Fresh Espresso,"8,645",https://www.last.fm/music/Fresh+Espresso,NaN,NaN,NaN
16,Lost Triibe,"7,655",https://www.last.fm/music/Lost+Triibe,NaN,NaN,NaN
17,Ten Commandos,"9,660",https://www.last.fm/music/Ten+Commandos,NaN,NaN,NaN
18,Moon Fever,"10,412",https://www.last.fm/music/Moon+Fever,NaN,NaN,NaN
19,Hot Bodies in Motion,"6,699",https://www.last.fm/music/Hot+Bodies+in+Motion,NaN,NaN,NaN
20,Nick Weaver,"7,418",https://www.last.fm/music/Nick+Weaver,NaN,NaN,NaN

In [17]:
album_df = pd.DataFrame()
album_info = pd.DataFrame()
http_pm, user_agent = cityscraper.get_connection()

city = "seattle"
page = 1
# cities = ['','','']
# pages = range(1, 15)

album_url = f"https://www.last.fm/tag/{city}/albums?page={page}"
album_df = pd.concat([album_df, cityscraper.get_city_albums(http_pm, user_agent, album_url)])

album_df

album_page_regs = {'totalscrobbles':'',
                   'length':'',
                   'genres':'',
                    'similaralbums':'',
                   }


album_info = pd.concat([artist_info, cityscraper.get_values(album_page_regs, artist_page)])
album_info

       totalscrobbles length genres similaralbums
0
1
2
3
4
...               ...    ...    ...           ...
556252
556253
556254
556255
556256

[556257 rows x 4 columns]